[2013-06-11 07:33] GWHAThistory opened #4 "Configure iD needs done"
The Edit with iD capability is there, but it sends the iD needs to be configured error.

This may not be documented yet: https://github.com/systemed/iD/issues/1223

[2013-07-19 15:50] jeffmeyer opened #10 "Configure iD to use historical tile servers in addition to current Bing imagery"

[2014-07-02 19:05] JaimeLynSchatz opened #17 "Error: "Sorry, relation #2688911 could not be found." on Nominatum Search"
@muninn: I thought perhaps that I broke something in my branch, but I ran the search on the live version of the website and I get the same error. Should I ignore for now or run this down?
![screenshot](http://jaimelynschatz.github.io/nominatum_error.png)

[2015-02-26 09:39] metazool opened #20 "custom version of iD needs new help text contributed"
" the help section that has to be rewritten for OHM. Adding a section about how to use tools like Maps Warper/Fieldmaps and a section about the legal aspects of the project"

[2015-02-26 12:16] Abbe98 commented on #20
Also: [OpenHistoricalMap/iD/#2](https://github.com/OpenHistoricalMap/iD/issues)

[2015-02-26 17:00] Abbe98 commented on #10
More historical tile sources can be found [here](https://github.com/osmlab/historic-imagery-index/blob/gh-pages/imagery.json), but don't know if any of them are interesting...

Also see [here](https://github.com/OpenHistoricalMap/iD/commit/54fdbd3f880d174a8fe8ceda21aa09a748d0b876).

[2015-02-26 17:02] #4 closed

[2015-04-08 17:18] Abbe98 opened #21 "Reset/Update The Rails Port"
Google is killing the existing login system in less than two weeks and the OpenStreetMap Rails Port is 475 commits ahead of this fork.

When OpenStreetMap updates the main site(probably prior to Apirl 20) we should do the same.

It [doesn't seams to be](https://github.com/OpenHistoricalMap/ohm-website/commits/master) any major differences from the old OSM site and the update should be done quite f

[2015-04-08 17:29] Abbe98 opened #22 "License/Terms of Use"
Related: https://github.com/OpenHistoricalMap/ohm-website/commit/293f7c7515b30fed76d0dee72c38e17d61670738

[2015-04-08 17:33] Abbe98 commented on #21
Not 100% sure on what that needs to be done at database level(changeset comments?)...

[2015-04-11 14:13] Abbe98 commented on #20
New help section now live at http://openhistoricalmap.github.io/iD/id/ .

Still need to be improved.

[2015-04-16 03:45] pnorman commented on #21
the migrations should handle that - but not sure how to run them.

[2015-06-09 20:54] GWHAThistory commented on #22
We're probably 6-8 weeks from having this resolved. In the meantime, we should probably leave it as the status quo.

[2015-06-09 21:07] GWHAThistory commented on #17
We should probably use a different geocoder with just placenames until we get the database more populated... or, we could hook up Nominatim, but it wouldn't really point anywhere yet.

[2015-06-09 21:22] rwelty1889 commented on #17
On 6/9/15 5:07 PM, Jeff Meyer wrote:

it might be fun to try setting up Pelias (the mapzen geocoder).

richard

--
rwelty@averillpark.net
 Averill Park Networking - GIS & IT Consulting
 OpenStreetMap - PostgreSQL - Linux
 Java - Web Applications - Search

[2015-06-09 21:30] GWHAThistory commented on #17
Good suggestion ref: Pelias...
https://github.com/pelias/pelias

[2015-06-10 10:08] Abbe98 commented on #17
The OHM website currently use the OSM Nominatim instance, returning element ids from OpenStreetMap, witch do not exist in OHM...

I guess the fastest solution is to just point Nominatim to OHM?

[2015-06-10 11:18] rwelty1889 commented on #17
On 6/10/15 6:08 AM, Albin Larsson wrote:

i think we would need to install our own Nominatim instance. which
brings up the question of whether Nominatim is really the geocoder
we want. that's why i brought up Pelias, an alternative that has some
cool features. there are others, there's been a lot of activity in
OSM geocoding over the past 2 years.

richard

--
rwelty@averillpark.net
 Averill Park

[2015-06-10 16:09] GWHAThistory commented on #17
Agreed with the inclination to try with Pelias instead of Nominatim, if
possible.

On Wed, Jun 10, 2015 at 4:18 AM, Richard Welty <notifications@github.com>
wrote:

--
Jeff Meyer
Global World History Atlas
www.gwhat.org
jeff@gwhat.org
206-676-2347

OpenStreetMap: Mapping with a Human Touch
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<h

[2015-08-01 10:13] #10 closed

[2015-11-08 21:27] SomeoneElseOSM commented on #22
I'm guessing that this hasn't quite been sorted out yet, but the default signup terms are currently "Here will be the contributor terms for OpenHistoricalMap...", unless you click "French" or "Italian", in which case you get what I suspect is OSM's French or Italian CTs.  If you click "Rest of the World" you get something that may be OSM's normal CTs.

[2015-11-08 21:31] SomeoneElseOSM opened #24 "Whilst trying to sign up for OHM I was asked to contact webmaster@openstreetmap.org"
I'm guessing that might be from in here:

https://github.com/OpenHistoricalMap/ohm-website/blob/master/app/views/user/suspended.html.erb

[2015-11-09 13:12] Abbe98 commented on #24
Yes this is a known issue.

We are having a major update of the site upcoming.

[2016-10-27 23:40] harry-wood opened #25 "openhistoricalmap.org offline"
http://www.openhistoricalmap.org is currently offline for some reason

[2016-10-28 06:23] Abbe98 commented on #25
Been so for for a few months

[2016-10-28 14:30] rwarren2 commented on #25
I've sent the mail to track down who has root access. The machine is now reporting a new ssh key. :(

[2016-10-29 13:51] timwaters commented on #25
Machine is still offline - situation is still as described on ohm mailing list (where further discussion about this issue should be ideally placed for more visibility)  Machine probably wont come back online as it is but if someone wants to take ownership via a transfer they can fix it up. Current status is we've backed everything up and waiting for people with time and knowledge to resurrect the

[2016-10-30 12:44] harry-wood commented on #25
The ['historic' mailing list](https://lists.openstreetmap.org/pipermail/historic/2016-August/thread.html#1005) you mean. ok I'll close this so that discussion stays there

[2016-10-30 12:44] #25 closed

[2016-12-27 23:47] rwarren2 commented on #25
Building new hosting machine as fast as possible.

[2018-05-22 19:08] rwarren2 opened #26 "Reset tasker hostname"
tasks.openhistoricalmap.org should be pointing to 54.175.240.166

[2018-05-23 13:50] rwarren2 commented on #26
Done. DNS should propagate soon.

[2018-05-23 13:50] #26 closed

[2018-05-27 22:33] rwarren2 opened #27 "Move filesystems over to XFS for speed + reliability."
There will be some downtime for this.

[2018-05-28 12:59] rwarren2 commented on #27
cache folder needs cleanup immediately.

[2018-05-28 16:10] rwarren2 commented on #27
Machine to go offline for about 2 mins circa 2PM EST for drive changeover.

[2018-05-29 02:01] rwarren2 commented on #27
Make that 12 hours to copy over main raid array.

[2018-05-29 14:39] rwarren2 commented on #27
Back online. One last filesystem to move. Should not impact operations.

[2018-06-01 01:12] rwarren2 commented on #27
Will take system down for a few hours at 11PM for one last disk change over. Current migration is making OHM performance unacceptable.

[2018-06-14 04:31] rwarren2 commented on #27
Outage still into it's second day. No data loss so far.

[2018-07-03 16:54] rwarren2 commented on #27
Machine filesystems back online.
dump.openhistoricalmap.org back online and well as rsync deamon.

[2018-07-04 15:39] todrobbins commented on #27
Great work @rwarren2!

[2018-07-11 13:16] rwarren2 commented on #27
Tile server installed.

[2018-07-13 18:16] rwarren2 commented on #27
Server being upgraded to Ubuntu 16.04.4 LTS because of insane JDK 8 and gcc requirements for OSM tools.

[2018-07-16 23:20] rwarren2 opened #28 "Please set up a new domain hostname record vtiles.openhistoricalmap.org Set this as a CNAME record pointing to ec2-18-209-171-18.compute-1.amazonaws.com"
From OpenHistoricalMap/openhistoricaltiles#1

[2018-07-17 00:13] rwarren2 commented on #28
Done. Should propagate in about 20 mins.

[2018-07-17 13:42] rwarren2 commented on #28
Propagated.

[2018-07-17 13:42] #28 closed

[2018-07-18 15:06] rwarren2 commented on #27
tile server is up.
tiles are _not_ being updated.
HOSM is up.
Dumps are _not_ being done.
By the Minute are _not_ being done.
XAPI is _not_ up.
SPARQL is _not_ up.

[2018-07-22 20:41] rwarren2 commented on #27
tile server is up.
tiles are being updated (with bugs)
HOSM is up.
Dumps are being done.
By the Minute and by Day are being done.
XAPI is up.

[2018-07-23 01:48] rwarren2 commented on #17
Obsolete. Closing.

[2018-07-23 01:48] #17 closed

[2018-07-31 14:35] rwarren2 opened #29 "Planet dumps piling on top of one another."
dotlockfile doesn't seem to be working, so planet file dumps are now locked with procmail lockfile. Piled up planet dumps script would drive loads up to double digits, affecting networking.

[2018-07-31 14:35] #29 closed

[2018-08-24 04:08] #27 closed

[2018-08-24 04:10] rwarren2 opened #30 "Scheduled downtime, Saturday August 25th, 11:00 a.m. UTC to 7 p.m. UTC"
Power is being rerouted to server room. Server will be shutdown during that period.

[2018-08-26 02:29] rwarren2 commented on #30
Shutdown extended to Monday morning owing to power up sequencing.

[2018-08-27 21:47] rwarren2 commented on #30
Machine back up.

[2018-08-27 21:47] #30 closed

[2018-08-28 22:44] rwarren2 commented on #24
Resolved. +2 years. :/

[2018-08-28 22:44] #24 closed

[2018-08-29 19:49] rwarren2 opened #31 "More Power Issues"
Power will be offline to OHM again until about 9AM EDT (1PM UTC). This should be the last one.

[2018-08-30 13:52] rwarren2 commented on #31
...and we're back.

[2018-08-30 15:34] rwarren2 commented on #31
Overpass API has not restarted.

[2018-09-20 18:53] rwarren2 commented on #31
@todrobbins Will contact off site.

[2018-10-10 15:50] rwarren2 commented on #31
Not all services have recovered.

[2018-12-12 09:41] c933103 opened #32 "UI problem ..."
When I enter the OHM site, the first thing I see (with Traditional Chinese interface language according to my browser setting thus I am talking about the Traditional Chinese translation) on the website is that "Welcome to OpenStreetMap! OpenStreetMap is a world map, .....". Can that be fixed?

[2018-12-12 09:43] c933103 opened #33 ""Layer" on OHM website"
As far as I understand, OHM allow inclusion of features from different times. However on OHM website in the "layer" button there's only a single "Historical" layer button. Shouldn't there be a way for users to choose the years and time to display?

[2018-12-19 21:11] bertdeb commented on #33
Yes, there should be a way to filter dates. Some work is being done in this regard:
https://openhistoricalmap.github.io/openhistoricaltiles/frontpage/

[2018-12-19 21:12] bertdeb commented on #32
Sure. Do you have a translation? We can add it.

[2018-12-19 22:38] c933103 commented on #32
Actually, where are these translation files located at? There are most probably more than a single line that require additional translation and it might be better for me to change them direct.

[2018-12-19 22:44] c933103 commented on #33
It would probably be better for the default date selection to be a single date instead of date range as each objects already have its own date range and in the long term when OHM is more completed, using a date range as default would unavoidably causing overlaps in area that are rebuilt within whatever time period that user will select. Using a single date should suffice in most cases, and for vis

[2019-04-08 17:23] daelba opened #35 "Site down"
Why is OHM site down? For how long?

[2019-04-08 17:51] rwarren2 commented on #35
Site back up. Something happened to the apache process on the 4th. Looking into it.

[2019-04-08 17:51] #35 closed

[2019-05-29 21:00] #31 closed

[2019-06-06 12:33] rwarren2 opened #36 "OHM will be offline from 2AM to 2:30AM UTC Friday morning (June 7th)"
* Do a database snapshot.

[2019-06-07 02:50] rwarren2 commented on #36
* Database backed up.
* overpass-api.openhistoricalmap.org

[2019-06-07 02:50] #36 closed

[2019-06-22 17:04] rwarren2 opened #37 "Changeover from HTTP to HTTPS"
OpenHistoricalMap will switchover to HTTPS for authenticated requests.

[2019-06-22 18:30] rwarren2 opened #38 "Align production OHM website with ID time-slider"

[2019-06-26 02:54] rwarren2 commented on #37
Planet.openhistoricalmap.org not in ssl, likely to just retire hostname to dump.openhistoricalmap.org

Restarted availability of rsync of planet files

[2019-07-26 17:06] rwarren2 commented on #37
https in use with tile server and openhistorical server. Some issues with the protocol of the tile server not following that of the main server.

[2019-07-26 17:06] rwarren2 commented on #37
I will be shutting OHM down for a few minutes to do a quick patch.

[2019-07-26 17:24] rwarren2 commented on #37
Ok, main application works over http(s), tile server is redirecting as needed.
* api.openhistoricalmap.org now available on https.
* overpass-api.openhistoricalmap.org now available on https.

[2019-07-28 19:53] rwarren2 commented on #37
OHM is now available over https. Please test with all clients that are important to you. Unless there is an issue, authentication will no longer be available over http at the end of the next week.

Un-authenticated API services will remain available over http and https.

[2019-08-01 23:45] danrademacher opened #39 "Timeslider min/max changes not respected"
On our [standalone timeslider demo](https://openhistoricalmap.github.io/openhistoricaltiles/leaflet-control-mbgltimeslider/demo/#14.600/40.80626/-73.91891/1513,1500-2018), you can click on any of the labels and enter a new value. This is esp important for min/max, as shown here:
![C3zYiNVLyH](https://user-images.githubusercontent.com/1423200/62334217-9aa51d00-b47b-11e9-901e-6643ce427a8f.gif)

In t

[2019-08-09 17:56] rwarren2 opened #40 "Day shutdown on Aug 12th."
The OHM will be offline from 12:00HRS to 20:00HRS UTC on August 12th due to a cooling water shutdown. Downtime should be significantly less.

[2019-08-12 16:02] rwarren2 commented on #40
Shutdown of cooling water has not affected machine room significantly and operating temperature is at `28.3 C`. Services will remain up for the rest of the day.

[2019-08-12 16:02] #40 closed

[2019-08-14 15:45] jeffreyameyer commented on #38
Hi Rob - any progress or updates here? The work with the updated OHM and time slider is now complete and ready for your review.

[2019-08-17 11:49] rwarren2 opened #41 "Power shutdown 1100hrs UTC August 18th to 0100am UTC August 19th"
A power shutdown of the machine room for pre-semester maintenance will occur tomorrow. The length of the shutdown should be less than the window and services will return gradually afterwards. Overpass API may be slower due to processing issues.

[2019-08-19 00:12] rwarren2 commented on #41
Automatic restart did not occur. Physical startup will be 1200hrs UTC.

[2019-08-19 01:10] jeffreyameyer commented on #41
Rob - thanks for taking care of all of this!

On Sun, Aug 18, 2019 at 5:12 PM rwarren2 <notifications@github.com> wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenHistMap

[2019-08-19 14:07] rwarren2 commented on #41
Back online. Still waiting for XAPI to resynchronize.

[2019-08-19 19:39] rwarren2 commented on #41
XAPI is back in action.

[2019-08-19 19:39] #41 closed

[2019-08-19 19:39] rwarren2 commented on #38
Yes. looking at it now.

[2019-08-23 16:48] rwarren2 opened #42 "Overpass not processing properly."
Overpass have been choking on 07-29 and 07-31 updates but the newer install is chugging alone just fine. Node changes to 2083245959 to 2083245975 are missing.

[2019-08-23 17:55] jeffreyameyer commented on #42
Any info on how it's responding to simultaneous requests?

On Fri, Aug 23, 2019 at 12:48 PM rwarren2 <notifications@github.com> wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenHistMap

[2019-08-23 23:10] rwelty1889 commented on #42
On 8/23/19 12:48 PM, rwarren2 wrote:

hmm. when i retrieve the area with JOSM i see my updated version of
the nodes in question.

richard

--
rwelty@averillpark.net
 Averill Park Networking - GIS & IT Consulting
 OpenStreetMap - PostgreSQL - Linux
 Java - Web Applications - Search

[2019-08-23 23:17] rwarren2 commented on #42
I've upgraded overpass and going to rebuild the database outright.

[2019-08-23 23:20] rwarren2 commented on #42
Will rebuild support for area queries also.

[2019-08-24 02:30] rwarren2 commented on #42
[code]

grump. Will have to debug this is the morning.

[2019-08-24 02:34] rwarren2 commented on #42
Trying again with a dump from 2019-01-01 to test a hunch.

[2019-08-24 13:12] rwarren2 commented on #42
Traced the problem to the lock file; binary will stall waiting for it without an error message.

[2019-08-25 18:28] rwarren2 commented on #42
@rwelty1889 Reinstalled and reloaded. Can you give it a spin.

Working on an overpass-turbo install.

[2019-08-26 16:10] rwelty1889 commented on #42
On 8/25/19 2:28 PM, rwarren2 wrote:

looks good right now. will enter another new track so i can see the
overpass update happen later today.

richard
--
rwelty@averillpark.net
 Averill Park Networking - GIS & IT Consulting
 OpenStreetMap - PostgreSQL - Linux
 Java - Web Applications - Search

[2019-08-26 19:37] jeffreyameyer commented on #42
Rob - the concurrent request issue also appears to be resolved! Nice work!

Separately, can the lockfile and /dev/shm entry be deleted prior to restart
with a script of some sort?

On Mon, Aug 26, 2019 at 10:17 AM rwarren2 <notifications@github.com> wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://

[2019-08-27 17:17] rwelty1889 commented on #42
i added two new, er, old, tracks and they were picked up by the
5 minutely update correctly so every thing looks good here.

On 8/26/19 3:37 PM, Jeff Meyer wrote:

--
rwelty@averillpark.net
 Averill Park Networking - GIS & IT Consulting
 OpenStreetMap - PostgreSQL - Linux
 Java - Web Applications - Search

[2019-08-30 00:00] danrademacher commented on #39
Hmm, looking at Slack conversation on this, it appeared we had a solution, which was to use `range` instead of `dateLimit`

That's in place here:
https://github.com/OpenHistoricalMap/ohm-website/blob/ohm/app/assets/javascripts/index.js#L411

And just in case I dug around in Web Inspector to make sure the change is deployed to live site (I know we have CI, but still):
![image](https://user-images.g

[2019-08-30 00:04] jimmyrocks commented on #39
I'll take a look at it. It may be related to some of the code for adding and removing the control.

[2019-08-30 18:58] rwelty1889 opened #43 "overpass not responding to queries"
hasn't been all day.

[2019-08-30 21:49] jeffreyameyer commented on #43
Yeah, I think the entire site is down.

Rob - fyi!

On Fri, Aug 30, 2019 at 11:58 AM Richard Welty <notifications@github.com>
wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenHistMap

[2019-08-30 21:50] jeffreyameyer opened #44 "https://www.openhistoricalmap.org unresponsive"

[2019-08-30 22:33] rwelty1889 commented on #43
i noticed that JOSM couldn't connect, but decided that multiple tickets
would be overkill

On 8/30/19 5:49 PM, Jeff Meyer wrote:

--
rwelty@averillpark.net
 Averill Park Networking - GIS & IT Consulting
 OpenStreetMap - PostgreSQL - Linux
 Java - Web Applications - Search

[2019-08-30 22:42] jeffreyameyer commented on #43
Aha - I went ahead and filed the separate ticket to signal the larger
outage. : )

On Fri, Aug 30, 2019 at 3:33 PM Richard Welty <notifications@github.com>
wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenHistMap

[2019-08-30 22:55] #44 closed

[2019-08-30 23:04] jeffreyameyer commented on #44
Thanks, Rob!!

On Fri, Aug 30, 2019 at 3:55 PM rwarren2 <notifications@github.com> wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenHistMap

[2019-08-30 23:21] rwarren2 commented on #42
@rwelty1889 Were you running last overpass queries today?

[2019-08-30 23:27] rwarren2 commented on #43
@rwelty1889 Got a failed restart by apache2 at 6AM local related to the tile rendered failing. Ironically, dispatcher is still working properly.

[2019-09-04 22:45] danrademacher commented on #39
@jimmyrocks have you looked at this yet?

[2019-09-05 01:54] danrademacher opened #45 "Set maxzoom on OHM layer to 19 for AWS staging site"
I imagined there would be an easy change somewhere around here:
https://github.com/OpenHistoricalMap/ohm-website/blob/ohm-mapbox-gl/vendor/assets/leaflet/leaflet.osm.js#L26

to make that 19 since we're not rendering tiles above 19 at the moment. But that's referencing the raster tile endpoint  and the GL layer seems to have no specified upper limit at all. like you can click your way to this:
http

[2019-09-05 13:28] jimmyrocks commented on #45
I am traveling today, so I can look into this more later. But I think I can help a little now.

The code that controls the layers can be found here:
https://github.com/OpenHistoricalMap/ohm-website/blob/ohm-mapbox-gl/app/assets/javascripts/ohm.style.js#L66

After looking through the mapbox documentation, I'm not sure if maxzoom will work on vector layers. We may have to adjust the layer settings w

[2019-09-05 15:40] danrademacher commented on #45
We're taking a look to see if this is something we can change in Tessera configs over at https://github.com/OpenHistoricalMap/openhistoricaltiles

[2019-09-05 15:48] gregallensworth commented on #45
This was a simple tessera setting: `maxzoom: 22`

Lesson learned: The OpenMapTiles wrapper `layer_XXX()` functions e.g. `layer_water(bbox, z)` use `>=` operator for the zoom level. Example: `layer_waterway(bbox geometry, zoom_level int)` uses `SELECT * FROM waterway_z14 WHERE zoom_level >= 14` so a zoom of 15, 18, 20, 22, or whatever would use that same view.

Therefore, increasing this Tessera se

[2019-09-05 15:49] danrademacher commented on #45
Super. And confirmed working on the live AWs site

[2019-09-05 15:49] #45 closed

[2019-09-08 21:42] rwarren2 commented on #43
Move to #42

[2019-09-08 21:42] #43 closed

[2019-09-08 21:42] rwarren2 commented on #42
@rwelty1889 Everything should be working, including overpass turbo at http://overpass-api.openhistoricalmap.org/. Still have a few reference to openstreetmap to change around.

[2019-09-08 21:42] #42 closed

[2019-09-08 21:55] rwarren2 commented on #37
Un-authenticated access to www.openhistoricalmap.org has been disable. http://www.openhistoricalmap.org/ now redirects to https://www.openhistoricalmap.org/

[2019-09-08 21:55] #37 closed

[2019-09-08 21:56] rwarren2 commented on #22
Needs to be fixed on overpass API as well.

[2019-09-10 22:13] jeffreyameyer opened #46 "Identify where the great lakes & other bodies of water have gone..."
Right now, it doesn't look like the Great Lakes, Great Salt Lake, and an unknown number / amount of bodies of water are missing from OHM. Need to figure out if they were ever there...

[2019-09-19 03:12] jeffreyameyer opened #47 "https://www.openhistoricalmap.org/ unresponsive"
Site appears to be down.

[2019-09-19 03:35] todrobbins commented on #47
Seeing the same thing right now.

[2019-09-19 03:41] rwarren2 commented on #47
Working here.

[2019-09-19 03:41] #47 closed

[2019-09-19 03:58] jeffreyameyer commented on #47
Thanks, @rwarren2 - any insight into what was up?

[2019-09-19 19:38] gregallensworth commented on #39
Checking in on this. Looking through the page source, I see this:

[code]

Note that no `datelimit` is given. As such, it defaults to `range`

Reference  https://github.com/OpenHistoricalMap/openhistoricaltiles/tree/gh-pages/mbgl-control-timeslider#config-options

`datelimit` -- A hard limit on the minimum and maximum dates to which the UI may be adjusted. If omitted, this defaults to the same as

[2019-09-23 19:22] rwarren2 commented on #38
note: Ruby still acting up. Gem still loading wrong versions.

[2019-09-23 19:31] rwarren2 commented on #21
Move to #38

[2019-09-23 19:31] #21 closed

[2019-09-23 19:32] rwarren2 commented on #20
Merged to #38

[2019-09-23 19:32] #20 closed

[2019-09-23 19:37] rwarren2 commented on #38
From OpenHistoricalMap#18
[code]

[2019-09-23 22:24] jeffreyameyer commented on #38
Should we postpone the Ordnance Survey layer as a prereq for this issue & / or open a related separate issue?

[2019-09-25 21:37] jeffreyameyer opened #48 "redirect from http to https for openhistoricalmap.org"
Apparently, there are still some non-https switching / preferring browsers and users out there.

Not urgent.

[2019-09-25 21:38] jeffreyameyer commented on #38
Hi Rob - thanks for the updates cleaning up issues, etc.

Any progress on this to report at tomorrow's update meeting?

[2019-09-26 22:37] danrademacher commented on #39
Per convo in another channel, @jimmyrocks says he has a fix for this and will merge it in this evening. @jimmyrocks if you could deploy to staging as well, that would be ideal.

[2019-09-27 00:59] jeffreyameyer commented on #39
w00t!!!

On Thu, Sep 26, 2019 at 3:37 PM Dan Rademacher <notifications@github.com>
wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenHistMap

[2019-09-27 14:27] gregallensworth commented on #39
Reported that it's all fixed and working well.

[2019-09-27 20:22] danrademacher commented on #39
Hmm. I'm not seeing any change actually committed here, though @jimmyrocks was planning to commit a fix. Looks like we have the same issue still in source:
![image](https://user-images.githubusercontent.com/1423200/65799690-9cacf480-e129-11e9-8e27-3a90fd25c9f3.png)

Based on Gregor's docs above, the simple addition of
`       datelimit: [1000, currentYear],`
to the config _should_ fix this, though

[2019-09-27 21:27] jimmyrocks commented on #39
I tried to test the change on the test server, and it doesn't look like my changes got pushed over. I'll look into it to see what else I can do to get the code to automatically redeploy.

[2019-09-27 21:39] danrademacher commented on #39
Can you link to the relevant commit or commits here? I was having trouble finding them — maybe on a new branch?

[2019-09-27 22:18] jimmyrocks commented on #39
I figure it out, they were pushed to my personal fork. I moved the changes over to OHM:
https://github.com/OpenHistoricalMap/ohm-website/commit/ed67a519bad08aa7ff2a491ed219e411a457be4c

Let's wait until this shows up on the dev server before we close it.

[2019-09-27 23:30] danrademacher commented on #39
Per Slack:

From  in https://github.com/OpenHistoricalMap/openhistoricalmap-docker#deployment

`website/openstreetmap-website`. To update it, `git pull` from
`website/openstreetmap-website` and ensure that the current version is what
you expect by using `git show` and clean it using `git checkout .`. Next,
`git add -p website/openstreetmap-website` from the root of
`openhistoricalmap-docker` to up

[2019-09-28 14:24] jimmyrocks commented on #39
I updated the openhistoricalmap-docker repo with the link and it looks to be deployed on the dev website! Can anyone else confirm that it's working before I close this out?

[2019-09-28 15:20] danrademacher commented on #39
Working!

![MmFMBdUhPW](https://user-images.githubusercontent.com/1423200/65818688-c1a47480-e1c8-11e9-89f0-df477ebef484.gif)

[2019-09-28 15:20] #39 closed

[2019-10-03 17:17] rwarren2 opened #49 "OHM offline due to someone's enthusiastic querying of the website."
We should return as soon as the TCP connections expire.

[2019-10-03 17:24] rwarren2 commented on #49
Back online. Keeping an eye on tcp connection sources.

[2019-10-03 17:24] #49 closed

[2019-10-10 19:42] danrademacher opened #50 "Set new min date on timeslider"
In resolving #39 , we set the new `datelimit` to `1000` in this commit:
https://github.com/OpenHistoricalMap/ohm-website/commit/6c2d04409e46d45280d80c8b6b14a8a0ae02add4

Turns out we have stuff from Ancient Rome!

So we need to set an older min-date limit.

Over in https://github.com/OpenHistoricalMap/decimaldate-python, we include an example like this

Any reason not to set our floor at the begin

[2019-10-11 14:00] jeffreyameyer commented on #46
Great Salt Lake Fixed.

[2019-10-11 19:42] jeffreyameyer opened #51 "API seems to choke with chunks > 100 objects"
I have some large files I need to upload, but when the "chunk" size (JOSM upload advanced options) is > 100, JOSM tends to quit silently. Not really sure if it's a JOSM or a site issue, so double-checking to see if something can be seen from the server side. Time: approx 19:41 Friday, 11 October 2019 GMT.

[2019-10-11 19:46] jeffreyameyer commented on #51
Trying to upload Lake Ontario... on the way to getting the rest of the Great Lakes in...

Changesets:
https://www.openhistoricalmap.org/changeset/6478
https://www.openhistoricalmap.org/changeset/6481

[2019-10-11 19:54] jeffreyameyer commented on #51
x-ray view of random points in vector tiles: https://vtiles.openhistoricalmap.org/#10/44.3003/-76.2918
(stashing this here more as a note for myself than anything...)

[2019-10-11 19:57] todrobbins commented on #46
Utah Lake to the south would be another missing body of water. For reference: https://www.openstreetmap.org/relation/107814

[2019-10-11 20:32] jeffreyameyer opened #52 "API showing read timeout errors"
Not sure why it's doing this.

![image](https://user-images.githubusercontent.com/1494546/66683075-e2fc6a80-ec76-11e9-86e0-d56c7a1f5d80.png)

20:31:56 UTC
Friday, 11 October 2019

[2019-10-16 19:31] jeffreyameyer commented on #38
Hi Rob - any news on this issue? Anything we can do to help?

[2019-10-18 21:00] danrademacher opened #53 "Best way to update source for GL map style"
Over in this issue, https://github.com/OpenHistoricalMap/openhistoricaltiles/issues/65, we're setting up a test of revised vector stylesheet. Once that's done and confirmed to still work well with timeslider, we'll want to incorporate into the live site.

Right now we have the style in JS here:
https://github.com/OpenHistoricalMap/ohm-website/blob/ohm-mapbox-gl-style/app/assets/javascripts/ohm.sty

[2019-10-19 02:23] jeffreyameyer commented on #53
Sounds interesting & cool to me. Not sure how the stylesheets are managed
in production, so my input is of little help there...

On Fri, Oct 18, 2019 at 2:00 PM Dan Rademacher <notifications@github.com>
wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jeffmeyer>
t: @OpenH

[2019-10-19 16:16] jeffreyameyer commented on #52
![image](https://user-images.githubusercontent.com/1494546/67148167-23e51800-f251-11e9-9999-b2c3b4f80896.png)

[2019-10-19 16:17] jeffreyameyer commented on #52
Currently getting a high rate of retries when only loading 50 objects at a time

![image](https://user-images.githubusercontent.com/1494546/67148173-35c6bb00-f251-11e9-9af7-77bce2ff8e57.png)

[2019-10-19 22:44] jeffreyameyer commented on #52
Still running, but I fear it has crashed

![image](https://user-images.githubusercontent.com/1494546/67152276-5f023e00-f287-11e9-9ac2-99f96abcb39a.png)

[2019-10-21 14:16] rwarren2 opened #54 "PNG API not linking properly from website."
Getting 404 at the moment but API is up.

[2019-10-21 19:13] jeffreyameyer commented on #46
It looks like most large / inland lakes were not included with the original import or deleted with the site outage / planet corruption.

We can fix through 1-off updates, but we should pursue a more thorough approach to get a global solution.

(Utah Lake is fixed for now...)

[2019-10-25 20:50] jeffreyameyer commented on #48
![image](https://user-images.githubusercontent.com/1494546/67603656-5f3e8580-f72e-11e9-83c8-f58c7588c2db.png)

[2019-10-29 06:19] rwarren2 commented on #48
Bad browsers.. The website is at www.openhistoricalmap.org. I'll get rid of the other entry since it causes confusion.

[2019-10-29 06:19] #48 closed

[2019-11-06 03:49] jeffreyameyer commented on #50
@jimmyrocks  - any update here?

I need it to go waaaaay back. Thanks!

[2019-11-06 17:10] danrademacher commented on #50
This is a change of a few characters, here:
https://github.com/OpenHistoricalMap/ohm-website/commit/6c2d04409e46d45280d80c8b6b14a8a0ae02add4

Make `1000` into say `-5000`,  which we know is working on the standalone demo at `-4000`:
https://openhistoricalmap.github.io/openhistoricaltiles/leaflet-control-mbgltimeslider/demo/#14.600/40.80623/-73.91894/1920,-4000-2018

But we need to sort out Github

[2020-01-24 15:20] rwelty1889 opened #55 "overpass not responding"
overpass does not seem to have come back up after yesterday's maintenance downtime.

[2020-01-24 17:13] rwarren2 commented on #55
Ok. It seems to be working now, may take a few minutes for replication to catch up. re-open if it doesn't work for you. -R

[2020-02-03 12:14] #55 closed

[2020-02-03 12:16] rwelty1889 opened #56 "overpass not updating"
it is responding to queries, but a recent addition to OHM shows up in the rendered map but not in responses to queries.
https://www.openhistoricalmap.org/#map=18/29.88962/-95.23514&layers=H

[2020-02-03 14:23] rwarren2 commented on #56
Will track this down today. -rhw

On Mon, 3 Feb 2020, Richard Welty wrote:

[2020-02-03 16:49] rwelty1889 commented on #56
it just showed up.

[2020-03-05 16:56] #56 closed

[2020-03-05 16:58] rwelty1889 opened #57 "site not operating correctly this morning"
tiles not rendering, overpass not updating

[2020-03-09 16:04] rwarren2 commented on #57
It seems to be up and running.

overpass is catching up to the dumping script halting.

[2020-03-09 18:45] rwelty1889 commented on #57
i'm still not seeing any tiles being rendered. waiting on overpass catching up.

[2020-03-09 18:49] rwarren2 commented on #57
Do you mean that tiles are not being rendered or that tiles are not being updated?

[2020-03-09 19:43] rwelty1889 commented on #57
not being rendered. https://www.openhistoricalmap.org/#map=14/29.9508/-97.8735&layers=H

[2020-03-09 19:45] rwarren2 commented on #57
Ok. Kicked renderd over.
Still working on overpass.

[2020-03-09 22:10] rwelty1889 commented on #57
rendering now produces tiles, although my latest additions from a couple of days ago are not yet showing.

[2020-03-10 00:53] rwarren2 commented on #57
The osmosis replication has died and the sequence numbering isn't being recognized. It's going to take a bit to get it working again.

[2020-03-13 02:26] rwarren2 commented on #57
I apologize that is taking so long. Still working on it.

[2020-03-13 02:30] jeffreyameyer commented on #57
Thanks for staying on it. Much appreciated.

On Thu, Mar 12, 2020, 7:26 PM rwarren2 <notifications@github.com> wrote:

[2020-03-18 19:53] rwelty1889 commented on #57
is there a point where it makes sense to just nuke the two databases (tiles and overpass) and regenerate from scratch?

[2020-03-19 02:55] rwarren2 commented on #57
Yes, almost. It means breaking a lot of things through.

[2020-03-20 14:42] rwarren2 commented on #57
Will reload from scratch this weekend.

[2020-04-13 19:19] rwarren2 commented on #57
Power back on. redumping planet. Restarting sync for all api's.

[2020-04-13 23:22] rwarren2 commented on #57
Planet dumped.
DB backed up a second time.
Reloading tile server.

[2020-04-14 01:29] rwarren2 commented on #57
tile server reloaded. DNS updated. Frontend should be coming back online with DNS propagation.

[2020-04-14 02:16] rwarren2 commented on #57
...and the frontend configuration broke itself during the last update...

[2020-04-14 03:16] rwarren2 commented on #57
Back online. Renderd is slow as molasses.

[2020-04-14 03:40] rwarren2 commented on #57
Render still slow. Restarting the replication system altogether.

[2020-04-14 03:54] rwarren2 commented on #57
Replication online.

[2020-04-14 03:54] rwarren2 commented on #57
@rwelty1889 Tiles should be updating properly if slowly.
XAPI and API are still currently offline.

[2020-04-14 03:59] rwarren2 commented on #57
nominatim also.

[2020-04-14 05:45] rwarren2 commented on #57
Appears that tiles will need to be rebuilt.

[2020-04-14 17:21] rwarren2 commented on #57
Rendering now zippy. Restarting sync..

[2020-04-14 17:29] jeffreyameyer commented on #57
Rendering is much better & great ot see things back up - thanks fo rhe hard
work!

Re: Nominatim - still not working for me. Can you confirm it's up?

On Tue, Apr 14, 2020 at 10:21 AM rwarren2 <notifications@github.com> wrote:

--
Jeff Meyer
206-676-2347
osm: Open Historical Map (OHM)
<http://wiki.openstreetmap.org/wiki/Open_Historical_Map> / my OSM user page
<http://www.openstreetmap.org/user/jef

[2020-04-15 01:12] rwarren2 commented on #57
Tiles are updating.

[2020-04-15 01:15] rwarren2 commented on #57
Rebuilding all of XAPI.

[2020-04-15 11:25] rwarren2 opened #58 "Ways 193161110 and 193858774 are orphaned in database."
Currently  causes a 500 when attempting to render. Doesn't seem to break anything else.

[2020-04-16 05:40] rwarren2 commented on #57
XAPI loaded. Building areas.

[2020-04-17 17:08] batpad commented on #58
Since the server came back up, I tried to read the planet files on planet.openhistoricalmap.org and parse that using osmosis but this has been consistently failing because of missing node references.
I used osmium's check-ref tool to see how many nodes are missing and there are about 3220 nodes missing that are referenced by ways. This is the case of planet files going back to June, that's as far

[2020-04-17 17:14] rwarren2 commented on #58
I think that these ways have been orphaned for a very long time.

Are you getting a failure or a warning? I've been able to get a warning and push out a pbf or increment.

[2020-04-18 01:23] rwarren2 commented on #58
Will be resolved as database is rebuild.

[2020-04-18 01:23] #58 closed

[2020-04-18 01:24] rwarren2 commented on #57
@rwelty1889 Please close.

[2020-04-19 00:16] rwelty1889 commented on #57
rehosting in progress

[2020-04-19 00:16] #57 closed

[2020-05-26 11:18] rwelty1889 opened #60 "enhancement request: ability to toggle time slider on and off"
would be useful, especially right now when the time slider is tending to obscure most of the map.

[2020-05-26 11:27] rwelty1889 opened #61 "bug: error selecting entity in map data view of OHM"
using OHM with map data checkbox, got an error when selecting a water feature. see attached screenshot.
![bug-2020-05-26](https://user-images.githubusercontent.com/3817968/82895472-45faf300-9f22-11ea-9327-bb0482062f80.png)

[2020-05-27 15:40] matkoniecz opened #62 ""OpeHistoricalMap" at https://www.openhistoricalmap.org/about"
"OpeHistoricalMap" - n is missing

[2020-05-27 15:41] matkoniecz opened #63 "Misleading claim that it is OSMF-run website"
https://www.openhistoricalmap.org/about

"This site and many other related services are formally operated by the OpenStreetMap Foundation (OSMF)"

I am pretty sure that it is untrue and misleading

[2020-05-27 15:42] matkoniecz opened #64 "Misleading content at https://www.openhistoricalmap.org/help"
Majority of that channels are OSM-only and OHM-specific content is offtopic there (except cases when it is about OSM).

[2020-05-27 16:27] jeffreyameyer commented on #64
Hi Mateusz - as soon as we get through getting the site's editing and rendering stabilized, we're going to do a full-site content scrub, so please keep these issues coming. Not sure how soon they'll get done, but they *must* be done.

[2020-05-27 16:29] jeffreyameyer commented on #63
This is indeed untrue and misleading.

Needs to be fixed asap.